@font-face {
  font-family: 'Capture-it';
  src: url('fonts/Capture_it.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('fonts/Monaco.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo';
  src: url('fonts/Museo_Slab_500.otf') format('opentype');
}

a:link, a:visited {
  text-decoration: none;
  color: #EC2819;
}
a:hover {
  background: #D32B16;
  color: white;
}
a:active {
  color: black;
}

::selection {
  background: black;
  color: white;
}
::-moz-selection {
  background: black;
  color: white;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: #3C3C3C;
}

h1 {
  font-family: Museo, georgia, serif;
  color: black;
}

h1 {
  clear: both;
  margin: 0;
}

td {
  padding: .5em;
}

li {
  list-style-type: none;
  margin: .3em 0;
}

pre {
  overflow: auto;
  font-size: .8em;
}

code {
  font-family: Monaco;
}

thead {
  font-weight: bold;
}

blockquote {
  border-left: solid gray 5px;
  padding: 0 0 0 .5em;
  margin: 1em 0;
  font-style: italic;
}

.title {
  font-size: 8rem;
}

.year {
  color: rgb(0, 0, 226);
}

.about {
  float: right;
  height: 200px;
}

.good {
  color: rgb(0, 162, 0);
}
.bad {
  color: rgb(233, 0, 0);
}

.fixed {
  font-weight: normal;
  font-family: Capture-it;
  font-size: 8rem;
  margin: 2rem;
  text-align: center;
  color: black;
}

.awful {
  font-weight: normal;
  font-size: 6rem;
  margin: 2rem;
  text-align: center;
  font-family: Museo, georgia, serif;

  background-image: url('images/awful.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0,0,0,0);
}

.awesome {
  font-weight: normal;
  font-size: 1.2rem;
  margin: 2rem;
  text-align: center;
  font-family: Museo, georgia, serif;

  background-image: url('images/awesome.jpg');
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0,0,0,0);
}

.invert {
  background: #3C3C3C;
  color: white;
  padding: 0 3px;
}

/* syntax highlighter theme */

.css .hljs-class, .css .hljs-tag, .css .hljs-pseudo {
  color: #EC2819;
}

.css .hljs-rules {
  color: rgb(185, 185, 185);
}

.css .hljs-attribute {
  color: #3C3C3C;
}

.css .hljs-value {
  color: #3C3C3C;
}

.css .hljs-number {
  color: rgb(70, 82, 221);
}

.markup .hljs-tag {
  color: rgb(185, 185, 185);
}

.markup .hljs-title, .markup .hljs-attribute, .markup .hljs-value {
  color: #EC2819;
}
